<!-- Map Section with Interactive Switzerland Map -->
<div class="map-wrapper">
    <div class="map-container">
        <svg viewBox="0 0 1000 700" id="swissMap">
            <!-- Map will be populated by JavaScript -->
        </svg>

        <!-- Autocomplete UI -->
        <div class="autocomplete-container">
            <div class="autocomplete-bar" id="autocompleteBar"></div>
            <div class="message-input">
                <div class="typing-text">
                    <span id="typedText"></span>
                    <span class="cursor"></span>
                </div>
            </div>
        </div>
    </div>
</div>
